body {
    background-color: #e8e8e8;
}

#vision-board {
    width: 1200px;
    height: 850px;
    margin: 50px auto;
    overflow: auto;
    background: url(../img/background.png);
    background-size: cover;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}